repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd src/kurt/web/client && npm run lint'
        language: system
        files: ^src/kurt/web/client/src/.*\.(js|jsx)$
        pass_filenames: false
